In [69]:
# "First commands executed should always be the Hello world program!" Lecture 1
a = chr(128521)
print('Hello world!',a)

import os
import keyword
from collections import defaultdict
import csv
import sys
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import scipy as stats
import numpy as np
import math
import zipfile
import datetime
import random

Hello world! ðŸ˜‰

In [ ]:
# Get the current working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

# Change the working directory to a new path
new_directory = "C:/Users/arion/Documents/DataProcessing/Midterm"
os.chdir(new_directory)
print("New Working Directory:", new_directory)

In [14]:
df_JPM = pd.read_csv('./JPM.csv')
df_GPC = pd.read_csv('./GPC.csv')
df_KDP = pd.read_csv('./KDP.csv')
df_KMX = pd.read_csv('./KMX.csv')

In [36]:
# Creating date frames
JPM = pd.DataFrame(df_JPM)
GPC = pd.DataFrame(df_GPC)
KDP = pd.DataFrame(df_KDP)
KMX = pd.DataFrame(df_KMX)

In [42]:
JPM

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,98.050003,96.620003,96.690002,97.860001,9303100.0,86.807426
1,2017-11-14,97.779999,96.849998,97.339996,97.269997,11043800.0,86.284058
2,2017-11-15,98.739998,95.949997,96.389999,98.190002,15384100.0,87.100151
3,2017-11-16,99.059998,98.309998,98.529999,98.470001,9808000.0,87.348534
4,2017-11-17,98.410004,97.570000,97.820000,98.139999,9017900.0,87.055801
...,...,...,...,...,...,...,...
1254,2022-11-07,132.289993,130.479996,131.000000,131.369995,12011200.0,131.369995
1255,2022-11-08,132.059998,130.139999,131.240005,131.449997,9884100.0,131.449997
1256,2022-11-09,131.429993,129.220001,131.320007,129.740005,9494000.0,129.740005
1257,2022-11-10,135.250000,132.529999,132.630005,135.080002,16351600.0,135.080002
1258,2022-11-11,136.169998,133.779999,135.190002,135.300003,10701000.0,135.300003

In [83]:
# Convert to datetime using pd.to_datetime with predefined format
JPM['Date'] = pd.to_datetime(JPM['Date'], format="%m %d,%y")

ValueError: time data "2017-11-13" doesn't match format "%m %d,%y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [41]:
print(JPM['Close'].equals(JPM['Adj Close']))
print(GPC['Close'].equals(GPC['Adj Close']))
print(KDP['Close'].equals(KDP['Adj Close']))
print(KMX['Close'].equals(KMX['Adj Close']))

# Yes, for the KMX company the Close and the Adj Close vlues are the same

False
False
False
True

In [56]:
# Finding the maximum value of Adj Close for each company
maxClm_JPM = JPM['Adj Close'].max()
maxClm_GPC = GPC['Adj Close'].max()
maxClm_KDP = KDP['Adj Close'].max()
maxClm_KMX = KMX['Adj Close'].max()

print("Maximum value for JPM is:", maxClm_JPM)
print("Maximum value for GPC is:", maxClm_GPC)
print("Maximum value for KDP is:", maxClm_KDP)
print("Maximum value for KMX is:", maxClm_KMX)

Maximum value for JPM is: 170.75645446777344
Maximum value for GPC is: 182.1999969482422
Maximum value for KDP is: 40.08000183105469
Maximum value for KMX is: 154.85000610351562

In [57]:
# And again for minimum value
minClm_JPM = JPM['Adj Close'].min()
minClm_GPC = GPC['Adj Close'].min()
minClm_KDP = KDP['Adj Close'].min()
minClm_KMX = KMX['Adj Close'].min()

print("minimum value for JPM is:", minClm_JPM)
print("minimum value for GPC is:", minClm_GPC)
print("minimum value for KDP is:", minClm_KDP)
print("minimum value for KMX is:", minClm_KMX)

minimum value for JPM is: 74.4239273071289
minimum value for GPC is: 47.406497955322266
minimum value for KDP is: 12.68853759765625
minimum value for KMX is: 44.27000045776367

In [77]:
# Finding the maximum return of a JPM
# I am sorry but I don't know how to calculate logarithmic return
JPM['Return'] = (JPM['Open']- JPM["Close"]) * JPM['Volume']
JPM_max_return = JPM['Return'].max()
JPM_max_return

254755021.07315063

In [66]:
# Getinf a day in which it happend for JPM
JPM_max_return_day = JPM.loc[JPM['Return'] == JPM_max_return]
JPM_max_return_day['Date']

606    2020-04-14
Name: Date, dtype: object

In [80]:
JPM.Return.hist(bins=range(0,JPM.return.max(),100))

SyntaxError: invalid syntax (3839229613.py, line 1)

In [ ]:
# Save the DataFrame to a CSV file
csv_file_path = 'C:/Users/arion/Documents/DataProcessing/Midterm'
dataFrame.to_csv(csv_file_path, index=False)